{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>

	<title>Nick's Todos</title>
	<link rel="icon" type="image/png"  href="{% static 'todo/green.png' %}">
</head>

<body>
<div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="/">Nick's Todos</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		  </li>
		  {% if user.is_authenticated %}
			  <li class="nav-item">
				<a class="nav-link" href="{% url 'createtodo' %}" > Create </a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{% url 'currenttodos' %}"> Current </a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{% url 'completedtodos' %}"> Completed </a>
			  </li>
		  {% endif %}
		</ul>
		<span class="navbar-text">
		  {% if user.is_authenticated %}

			<ul class="navbar-nav">
				<li  class="nav-item">
					<a class="nav-link disabled"> Login as {{ user.username }} </a>
				</li>
				<li class="nav-item">
					<a href="#" onclick="$('#signOutBtn').click()" class="nav-link">Logout</a>
					<form style='display: none;' method="POST" action="{% url 'logoutuser' %}">
						{% csrf_token %}
						<button id="signOutBtn" type="submit">Logout</button>
					</form>
				</li>
			</ul>
		  {% else %}
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'loginuser' %}">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'signupuser' %}">Sign Up</a>
				</li>
			</ul>
		  {% endif %}
		</span>
	  </div>
	</nav>


	<div class="container">
	{% block content %}
	{% endblock %}
	</div>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!--	<footer class="page-footer font-small blue">-->
<!--	  &lt;!&ndash; Copyright &ndash;&gt;-->
<!--	  <div class="footer-copyright text-center py-3">-->
<!--		  <br>-->
<!--		  <br>-->
<!--		  <br>-->
<!--		  <label style="font-size:small;">© 2020 Copyright: Mykola Lotoshnykov</label>-->
<!--	  </div>-->
<!--	  &lt;!&ndash; Copyright &ndash;&gt;-->

<!--	</footer>-->
</div>
</body>
</html>